{% block body %}
<!DOCTYPE html>
<html>
<title>Enter Post</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
</style>
<body>
<div>
	<form action = "/editPost/{{title}}" method = "POST" enctype=multipart/form-data>
		<p>Enter Title</p>
		<p><input type = "text" name = "title" value="{{title}}"/></p>
		<p>Enter Description</p>
		<p><input type = "text" name = "description" value="{{description}}"/></p>
		<p><img src="data:image;base64,{{img_tag}}"></p>
		<p>Enter Image</p>
		<p><input type = "file" name = "image" accept = "image/*" /></p>	
		<p><input type = "submit" name = "Submit" value = "Submit" /></p>
		<p><input type = "submit" name = "Delete" value = "Delete" /></p>
	</form>
</div>
</body>
{% endblock %}
